
.card {
    margin:20px;
    margin-top:80px;
    border:none;
}

.body {
    margin:30px;
}

.addComment {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    font-size: 16px;
    width:780px;
    margin: 0 auto;

}

.addCommentContainer{
    margin-top: 30px;
    padding: 5px;
    background-color: #f7f7f7 !important;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    width: 900px;
    margin: 0 auto;
}

.h2{
    margin:30px;
}
.mb-70{
  margin-bottom: 70px;
}