<!DOCTYPE html>
<html>
    <head><title>Smart Portfolio Backtracking</title>
    <style>
        body {
            font-family: Arial;
            color: #555;
            font-size: 16px;
            margin: 2em auto;
            max-width: 800px;
            padding: 1em;
            line-height: 1.4;
            text-align: justify;
        }

        h1 {
            color: #444;
            text-align: center;
        }

        form {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
    </head>
    </head>
    <body>
        <h1>Choose your company.</h1>
        <form method="post" action="/result">
            <input type="radio" name="method_type" value="search" checked> SEARCH<br>
            <input type="radio" name="method_type" value="searchUser"> SEARCH USER<br>
            <input type="radio" name="method_type" value="searchFriends"> SEARCH FRIENDS<br>
            <input type="radio" name="method_type" value="searchFollowers"> SEARCH FOLLOWERS<br>
            <input type="radio" name="method_type" value="sendDirectMessage"> SEND DM<br>
            <input type="radio" name="method_type" value="twoSidedFriendship"> TWO SIDED FRIENDSHIP<br>
            Username: <input type="text" name="username">
            Val1: <input type="text" name="val1">
            Val2: <input type="text" name="val2">

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
